<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
</head>
<body>
  <div class="app"> <header style="background-color: bisque; display: flex; text-align: left; justify-content: flex-start;">
    <img
      src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/800px-International_Pok%C3%A9mon_logo.svg.png"
      alt="Logo" width="200" style="max-width: 200px; height: auto; padding: 10px; margin: 5px; object-fit: contain;  ">
    {{!-- <a href="" style="">Home</a> --}}
  </header>
            

            <div class="container" style="display: flex; text-align: center; justify-content: center;">
                {{{body}}}
            </div>
            
            <h1 style="background-color: bisque; display: flex; text-align: center; justify-content: center;"><p>GoodBye!<br>SEE YOU AGAIN!!!</p></h1>
        </div>
</body>
</html>
