<!DOCTYPE html>
<html>
<head>
  <title>My Blog</title>
</head>
<body>
  <div class="app">
            <h1 style="background-color: bisque; display: flex; text-align: center; justify-content: center;">Welcome To My Web</h1>

            <div class="container" style="display: flex; text-align: center; justify-content: center;">
                {{{body}}}
            </div>
            
            <h1 style="background-color: bisque; display: flex; text-align: center; justify-content: center;"><p>GoodBye!<br>SEE YOU AGAIN!!!</p></h1>
        </div>
</body>
</html>
